@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800');

$mainColor: #e74c3c;

@mixin centered() {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


main.contentPane {
  min-height: 80vh;
  padding-bottom: 1rem;
  section.repo:not(:last-child) {
    border-bottom: 1px solid grey;
    padding: 0 0 1.5em 0;
  }

}

h1, h2,h3,h4,h5,h6 {
  font-weight: 600;
}

a {
  color: $mainColor;
  &:hover, &:focus {
    color: darken($mainColor, .2);
  }
}


header.quickInfo {
  background-color: $mainColor;
  color: rgba(236, 240, 241,1.0);
  min-height: 100vh;
  padding-top: 20vh;
  @include centered;
  text-align: center;
  ul.nav {
    font-size: 1.5em;
    color: rgba(236, 240, 241,1.0);
    li:hover {
      background-color: inherit;
      color: inherit;
    }
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: inherit;
      &:hover, &:focus {
        background-color: inherit;
      }
    }
  }
  #social  {
    text-align: center;
    @include centered;
    a{
      display: inline-block;
      border-radius: 50%;
      min-width: 4em;
      margin: 1em;
      color: rgba(236, 240, 241,1.0);
      &:hover i, &:focus i {
        animation-name: spin;
        animation-duration: .8s;
        animation-timing-function: ease-in-out;
      }
      i {
        padding: .5em;
      }
    }
  }
}

#contact {
  span:not(:last-child)::after {
    content: '|';
    display: inline-block;
    margin: 0 .5em 0 .5em;
  }
}

@keyframes spin {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

@media (min-width: 768px) {
  main.contentPane {
  }
}
