<div class="page-header">
	<h2>About</h2>
</div>

<section>
	<h3>EXPERIENCE</h3>
	<strong>Web Development Intern, DragonSearch</strong>
	<ul>
		<li>Kingston, NY</li>
		<li>May 2013 ­ August 2013, May 2014 ­ June 2014</li>
		<li>Developed efficient, scalable, user friendly websites using Wordpress.</li>
		<li>Worked with senior developer to optimize workflow</li>
	</ul>
</section>
<section>
	<h3>EDUCATION</h3>
	<strong>SUNY Polytechnic Institute</strong>
	<ul>
		<li>Utica, NY</li>
		<li>Major: Computer and Information Science</li>
		<li>Minor: Technology and Culture</li>
		<li>B.S, May 2015</li>
		<li>Cummalitive GPA: 3.83</li>
	</ul>
</section>

<section>
	<h3>SKILLS</h3>
	<ul>
		<li>Comfortable with HTML5, CSS3, and JavaScript.</li>
		<li>Familiar with PHP, jQuery, gulp.js, node.js, Bootstrap, Sass, less, git,
vb.net, TFS, C, C++, and Java</li>
	</ul>
</section>.
