<div class="page-header">
	<h2>About</h2>
</div>

<section>
	<h3>EXPERIENCE</h3>
	<h4><a href="https://www.lionprotects.com/">LION</a> (Formerly BullEx)</h4>
	<div class="jobEntry">
		<strong>Software Engineer</strong>
		<p>January 2023 – Present : Albany, NY</p>
		<ul>
			<li>Responsibilities from the prior position have carried over to this position.</li>
			<li>Develop IoT analytics applications utilizing AWS IoT, SQS, and others.</li>
		</ul>
	</div>
	<div class="jobEntry">
		<strong>Web Applications Developer</strong>
		<p>
				January 2016 – January 2023 : Albany, NY 
		</p>
		<ul>
			<li>Design and develop full-stack web applications that run on single board computers inside of products allowing users full interaction and control.</li>
			<li>Develop desktop software using Python and GTK to support manufacturing staff.</li>
			<li>Initiate efforts to modernize existing applications and development processes.
			</li>
			<li>Collaborate with a cross functional team consisting of electrical engineers, mechanical engineers, and software engineers.</li>
		</ul>
	</div>
	<h4>DragonSearch</h4>
	<div class="jobEntry">
		<strong>Web Development Intern</strong>
		<p>
			May 2013 – August 2013, May 2014 – June 2014 : Kingston, NY		
		</p>
		<ul>
			<li>Developed efficient, scalable, user friendly websites using Wordpress</li>
			<li>Worked with senior developer to optimize workflow</li>
		</ul>
	</div>
</section>
<section>
	<h3>EDUCATION</h3>
	<strong>SUNY Polytechnic Institute</strong>
	<ul>
		<li>Utica, NY</li>
		<li>Major: Computer and Information Science</li>
		<li>Minor: Technology and Culture</li>
		<li>B.S, May 2015</li>
		<li>Cumulative GPA: 3.83</li>
	</ul>
</section>

<section>
	<h3>SKILLS</h3>
	<ul>
		<li>HTML</li>
		<li>JavaScript</li>
		<li>CSS</li>
		<li>Angular</li>
		<li>PHP (Laravel)</li>
		<li>SQL</li>
		<li>Python</li>
		<li>AWS (IoT, Lambda, SQS, RDS)</li>
		<li>Git</li>
		<li>GTK</li>
		<li>GNU/Linux</li>
	</ul>
</section>
<hr>
<footer id='contact'>
	<span><a href="mailto:toddsinclairrobinson@gmail.com">Email</a></span>
</footer>
