<div class="page-header">
  <h2>Hello!</h2>
</div>
<p>I’m Todd. I like web development.</p>
<p>I spend too much time on <a href="https://www.reddit.com/r/webdev/">/r/webdev</a>.</p>
<p>I made <a href="https://github.com/toddrobinson/spinning">this</a> as a project for school.</p>
<p>You can read about it <a href="http://web.cs.sunyit.edu/~robinsts/capstone/">here</a>, which mostly explains it in relation to my school work.</p>
<p>I made a simple to-do list web-app which uses localStorage, which can be seen <a href="http://toddrobinson.github.io/LocalTodo/">here.</a></p>
