<div class="page-header">
  <h2>Hello!</h2>
</div>
<p>I’m Todd. I like web development.</p>
<p>I spend too much time on <a href="https://www.reddit.com/r/webdev/">/r/webdev</a>.</p>
<p>I made <a href="https://github.com/toddrobinson/spinning">this</a> as a project for school.</p>
<p>You can read about it <a href="http://web.cs.sunyit.edu/~robinsts/capstone/">here</a>, which mostly explains it in relation my school work.</p>
<!-- I do like bananas, but this is more of a joke than anything -->
<p>I also like bananas. <a href="https://upload.wikimedia.org/wikipedia/commons/4/4c/Bananas.jpg">Here</a> is a link to a picture of many bananas.</p>
